/* http://danieldriver.com/ styles, v0.2 | 12 October 2013 */

/* ==========================================================================
   Base styles: defaults based on http://h5bp.com/
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}

/* ==========================================================================
   DRD's custom styles
   ========================================================================== */

/* Page structure */
html, body {
  height: 100%;
}
body {
  background-color: #777;
  font-family: Georgia, serif;
}
#page {
  margin: 0 auto;
  width: 40.5em;
  min-height: 100%;
  background-color: #fff;
}
#site-head {
  padding: 4.2em 9em 0 4.5em;
  position: relative;
}
#site-head nav {
  position: absolute;
  top: 4.2em;
  right: 1em;
  width: 7em;
  z-index: 1;
}
#site-head nav ul {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  font-size: 0.8125em; /* = 13/16 */
  text-transform: uppercase;
  letter-spacing: 1px;
}
#textblock {
  margin: 0 9em 0 4.5em;
}
footer {
  margin: 9em 9em 0 4.5em;
  padding-bottom: 2em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

/* Display text */
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: normal;
  padding: 32px 0; /* rem fallback */
  padding: 2rem 0;
}
h1 {
  font-size: 1.5em; /* = 24/16 */
}
h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
h3 {
  font-style: italic;
}
#site-head h1 {
  padding: 0;
  font-size: 1em;
}
#site-head h1 span {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
}
article header h1 + p {
  margin-top: -32px;
  margin-top: -2rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  color: #777;
}

/* Body text */
p {
  margin: 0;
  text-indent: 1.25em;
}
header + p,
div + p,
h1 + p,
h2 + p,
h3 + p,
hr + p,
p.first,
pre + p,
p:first-child,
ul + p,
ol + p {
  text-indent: 0;
}
a {
  color: #900;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
article {
  position: relative;
}
article > p:last-of-type:after {
  content: "\0020\25ca";
}
.footnotes ol,
article header p,
footer p {
  font-family: Verdana, sans-serif;
  font-size: 0.6875em; /* = 11/16 */
}

/* Footnotes (as margin notes) */
.footnotes {
  width: 7em;
  position: absolute;
  right: -8em;
  bottom: 0;
}
.footnotes hr {
  display: none;
}
.footnotes ol {
  margin: 0;
  padding: 0;
  list-style: decimal inside;
}
.footnotes li {
  padding-bottom: 1em;
}
.footnotes li:last-child {
  padding-bottom: 0;
  }
.footnotes li p + p {
  text-indent: 1em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
     (-o-min-device-pixel-ratio: 5/4),
     (-webkit-min-device-pixel-ratio: 1.25),
     (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
