---
layout: banner
title: Home
heading: Old Testament
subhead: Assistant Professor at Tyndale University College
current-semester: Winter 2013
current-courses:
  - title: Old Testament Scripture
    code: BSTH 1013
    url-id: 141
    fa-id: book
    descrip: "Survey of the Torah, the Prophets, and the Writings"
  - title: Introduction to Hebrew&nbsp;II
    code: HEBR 2023
    url-id: 134
    fa-id: comments
    descrip: "Further rudiments of Hebrew grammar and syntax"
  - title: The Pentateuch
    code: BSTH 3103
    url-id: 140
    fa-id: leaf
    descrip: "Introduction to the first five books of the Bible"
faqs:
  - q: "Why don’t you allow laptops or personal electronic devices in class?"
    a: "Because it’s bad for you and worse for your neighbours. A <a href='http://dx.doi.org/10.1016/j.compedu.2012.10.003'>study at McMaster</a> found that allegedly multitasking students scored 11% below average; those with just a view of a peer’s screen scored 17% below average."
  - q: "I forgot my swipe card. What should I do about attendance?"
    a: "Resign yourself to being counted absent for the day, come to class anyway, and bring your card next time. If I provide an attendance sheet for the forgetful you can sign it in class, but please do not email me about it afterwards."
  - q: "Can I have a copy of your lecture notes or your slide deck?"
    a: "No. I provide handouts for any material I think is essential to distribute. I would also prefer that you not record lectures; however, you can approach me individually and request permission to make audio recordings."
  - q: "Can I have an extension on my paper or assignment?"
    a: "In extenuating circumstances, yes &mdash; but be mindful of what counts as extenuation. Serious illness and the death of a family member are not in the same category as poor time management and over-involvement."
  - q: "I heard that you went straight from a BA to a PhD. Are you a genius?"
    a: "No, my IQ ranks with most of the population. I started a master’s degree and was able to upgrade it to a doctorate. I did so simply because it was economical, and because I had a topic that called for longer treatment."
  - q: "Are you related to <a href='http://en.wikipedia.org/wiki/Samuel_Rolles_Driver'>S.&thinsp;R.</a> and <a href='http://en.wikipedia.org/wiki/Godfrey_Rolles_Driver'>G.&thinsp;R. Driver</a>, the famous Hebraists?"
    a: "Wouldn’t that be something? No, but I do harbour a desire to co-write something with W.&thinsp;P. Brown and R.&thinsp;S. Briggs, possibly a retrospective on the continuing uses of the BDB now that Clines’s Dictionary is complete."
---

{% include home-hero.html %}

{% include current-courses.html %}

<div class="section-four-img section-bg-color2">
	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			<h3>Recommended Resources for Students</h3>
			<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4 inline-list-custom">
				<li><a href="http://www.oxfordbiblicalstudies.com/"><img src="/img/resource-obso.png" alt="Oxford Biblical Studies Online" /> <p>Oxford Biblical Studies Online</p></a></li>
				<li><a href="http://libguides.tyndale.ca/biblical"><img src="/img/resource-atla.png" alt="Biblical Studies @ Tyndale" /> <p>Biblical Studies @ Tyndale</p></a></li>
				<li><a href="http://bakerpublishinggroup.com/books/beginning-biblical-hebrew/342630/esources"><img src="/img/resource-bbh.png" alt="Beginning Biblical Hebrew" /> <p>Beginning Biblical Hebrew</p></a></li>
				<li><a href="http://quizlet.com/BakerAcademic/folders"><img src="/img/resource-quizlet.png" alt="Hebrew Vocab on Quizlet" /> <p>Hebrew Vocab on Quizlet</p></a></li>
			</ul>
		</div>
	</div>
</div>

<div class="section-faq section-bg-color1">
	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
{% include faqs.html %}
			<div class="section-btn"><a href="/about/" class="button round">More about {{ site.name }} &rarr;</a></div>
		</div>
	</div>
</div>