<footer class="site-footer">

  <div class="site-copy">&copy; {{ site.time | date: '%Y' }}<span class="site-author">{{ site.author }}</span></div>

  <div class="site-links">
    <div class="site-contact">
      <ul>
        {% if site.email %}
        <li><a href="/about/#contact">Contact</a></li>
        {% endif %}

        {% if site.github_username %}
        <li><a target="_blank" rel="external" href="https://github.com/{{ site.github_username }}">Github</a></li>
        {% endif %}

        {% if site.twitter_username %}
        <li><a target="_blank" rel="external" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
        {% endif %}
      </ul>
    </div>

    <div class="site-source">
      <ul>
        <li><a target="_blank" href="https://github.com/{{ site.github_username }}/{{ site.github_source }}">Source</a></li>
        <li><a target="_blank" href="http://typekit.com/colophons/biw4ubo">Colophon</a></li>
      </ul>
    </div>
  </div>

</footer>
<!-- site-footer -->

<!-- oneTag code -->
<div id="amzn-assoc-ad-b9bb38f1-9aa6-4936-9fee-ab31cb456353"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=b9bb38f1-9aa6-4936-9fee-ab31cb456353"></script>

{% if page.syntax %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.css">
{% endif %}

<script src="{{ site.baseurl }}/assets/js/main.js"></script>

{% if site.google_analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}
