<div class="section-hero section-bg-color2">
	<div class="row">
		<div class="small-12 medium-6 large-6 columns">
			<aside class="recent-notes">
				<h3>Recent Notes</h3>
				<ul>
				{% for post in site.posts limit:5 %}
					<li>
						<h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
						<p class="description"><span>{{ post.date | date: "%-d %b %Y" }}</span> {% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
					</li>
				{% endfor %}
				</ul>
				<p><a href="/notes/" class="button round">See all notes &rarr;</a></p>
			</aside>
		</div>
		<div class="small-12 medium-6 large-6 columns">
			<aside class="book-box">
				<h3>Brevard Childs, Biblical Theologian</h3>
				<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2 inline-list-custom">
					<li><a href="/bsc/"><img src="/img/9780801039751.jpg" alt="Brevard Childs, Biblical Theologian (2012)" /></a></li>
					<li><a href="/bsc/"><img src="/img/9783161503689.jpg" alt="Brevard Childs, Biblical Theologian (2010)" /></a></li>
				</ul>
				<div class="text-center"><a href="/bsc/" class="button round">Resources and reviews &rarr;</a></div>
				<p class="p-smaller">A thorough rewriting of Driver&#8217;s doctoral thesis, the first printing of this monograph (Mohr Siebeck, 2010) was then expanded for a North American edition (Baker Academic, 2012).</p>
			</aside>
		</div>
	</div>
</div>