<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.shortname}}, {{ page.title }}</title>
    <meta name="description" content="D.R. Driver (no relation) teaches Old Testament in Toronto, Ontario.">
    <meta name="author" content="Daniel R. Driver">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div id="page">
      <header id="site-head" class="cf">
        <h1>
          <a href="/">{{ site.name }}</a>
          <em>{{ site.title }}</em>
        </h1>
        <nav>
          <ul>
            <li><a href="#writing">Writing</a></li>
            <li><a href="#teaching">Teaching</a></li>
            <li><a href="/notebook/">Notebook</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </nav>
      </header>
      <div id="textblock">
{{ content }}
      </div>
      <footer class="cf">
        <p class="pull-left">Copyright &copy; 2005&ndash;2013 <a href="https://danieldriver.com/">{{ site.shortname}}</a>. All rights reserved.</p>
        <p class="pull-right"><a href="https://twitter.com/danieldriver">@danieldriver</a></p>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-21845990-3');ga('send','pageview');
    </script>
  </body>
</html>
