---
layout: default
---

<div class="section-bg-color1">
	<div class="row first-row">
		<div class="small-12 medium-8 large-7 columns small-centered">
			<article>

<h1>{{ page.title }}</h1>
<h6 class="date">Posted on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %B %Y" }}</time>.{% if page.modified %} Last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ page.modified | date: "%-d %B %Y" }}</time>.{% endif %}</h6>

{{ content }}

				{% if page.button %}<div class="section-btn"><a href="{{ page.button.link }}" class="button round">{{ page.button.text }}</a></div>{% endif %}
			</article>
		</div>
	</div>
</div>